<!--  (c) Gerhard Döppert, 2017, GNU GPL 3 -->

<h1>Wetter in den letzten Stunden</h1>

<h2>{{$ctrl.data.tag}}</h2>
<table border='1'>
	<thead>
	  <tr>
	    <th>Zeit</th>
	    <th>Temperatur innen</th>
	    <th>Temperatur außen</th>
	    <th>Luftdruck</th>
	    <th>Feuchte</th>
	  </tr>
	</thead>
	<tbody >	
	<tr ng-repeat="tagwert in $ctrl.data.list">
	  <td >{{tagwert.time_t}}</td>
	  <td class='tab'>{{tagwert.temp_i}}°C</td>
	  <td class='tab'>{{tagwert.temp_o}}°C</td>
	  <td class='tab'>{{tagwert.pres}}hPa</td>
	  <td class='tab'>{{tagwert.hum_o}}%</td>
	  </tr>
	</tbody>  	    
</table>