<!--  (c) Gerhard Döppert, 2017, GNU GPL 3 -->

<h2>Wetter in den letzten Stunden</h2>

<h2>{{$ctrl.data.tag}}</h2>
<table border='1' ts-wrapper>
	<thead>
	<tr class='wettertab'>
	    <th></th>
	    <th  ng-repeat="colgrname in $ctrl.data.colgrname" colspan='{{$ctrl.data.colgrlen[$index]}}'>{{colgrname}}</th>
	  </tr>
	  <tr class='wettertab' >
	    <th ts-criteria="time_t|parseTime">Zeit</th>
	    <th ts-criteria="{{col}}|parseFloat"  ng-repeat="col in $ctrl.data.values" >{{$ctrl.data.werte[col]}}</th>
	    </tr>
	    <tr>
	  
	    
	  </tr>
	</thead>
	<tbody>	
	<tr class='wettertab' ng-repeat="tagwert in $ctrl.data.list"  ts-repeat>
	  <td >{{tagwert.time_t}}</td>
	  <td class='tab' ng-repeat="col in $ctrl.data.values"   >{{tagwert[col]}}</td>
	  </tr>
	</tbody>  	    
</table>

    <br/>

