<h1>{{listMonateDPController.wert}} {{listMonateDPController.rows.title}}</h1>

<div style="position:relative;width:100%;">
<canvas width="160" height="108"></canvas>
<svg width='100%' viewBox="0 0 1600 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
<g>


<polyline ng-repeat="x in listMonateDPController.rows.gridXPath" 
   ng-attr-points="{{x}}"
  style="fill:none;stroke:black;stroke-width:1" />

<polyline ng-repeat="y in listMonateDPController.rows.gridYPath" 
   ng-attr-points="{{y}}"
  style="fill:none;stroke:black;stroke-width:{{listMonateDPController.rows.gridYStroke[$index]}}" />

<rect ng-repeat="t in listMonateDPController.rows.link"
   ng-attr-x={{listMonateDPController.rows.x[$index]}} ng-attr-y={{listMonateDPController.rows.tickXy-20}}
   ng-attr-width={{listMonateDPController.rows.tickXwidth}} ng-attr-height={{listMonateDPController.rows.tickXheight}}
   fill='#ccc' ng-click="goMonatDP(t,listMonateDPController.value)" >
</rect>

<text  ng-repeat="tag in listMonateDPController.rows.tickXTag"
   ng-attr-x={{listMonateDPController.rows.tickXx[$index]}} ng-attr-y={{listMonateDPController.rows.tickXy}} 
   fill='black' font-size="12pt" >
  {{tag}}
</text>

<text  ng-repeat="tag in listMonateDPController.rows.tickYTag"
   ng-attr-x={{listMonateDPController.rows.tickYx}} ng-attr-y={{listMonateDPController.rows.tickYy[$index]}} 
   fill='black' font-size="12pt" text-anchor="end">
  {{tag}}
</text>


<rect ng-repeat="p in listMonateDPController.rows[listMonateDPController.value]"
	ng-attr-x={{p.x}} ng-attr-y={{p.y}}
	ng-attr-width={{listMonateDPController.rows.xwidth}} ng-attr-height={{listMonateDPController.rows.tickXy-p.y-20}}
	fill='{{p.color}}' >
</rect>


        
   </g>
    
</svg>
</div>
