<!--  (c) Gerhard Döppert, 2017 -->

<h1>Wetter {{listTagController.title}}</h1>
<br/>


<button  
ng-click="goMonat(listTagController.monat)">Monat</button>

<table border='1'>
	<thead>
	  <tr>
	    <th>Zeit</th>
	    <th>Temperatur innen</th>
	    <th>Temperatur außen</th>
	    <th>Luftdruck</th>
	    <th>Feuchte</th>
	    <th>Niederschlag</th>
	    <th>Wolken</th>
	    <th>Sonne</th>
	    <th>Windstärke</th>
	    <th>Windrichtung</th>
	  </tr>
	</thead>
	<tbody >	
	<tr ng-repeat="tagwert in listTagController.rows.list">
	  <td >{{tagwert.time_t}}</td>
	  <td class='tab'>{{tagwert.temp_i}}°C</td>
	  <td class='tab'>{{tagwert.temp_o}}°C</td>
	  <td class='tab'>{{tagwert.pres}} hPa</td>
	  <td class='tab'>{{tagwert.hum_o}}%</td>
	  <td class='tab'>{{tagwert.precip}} mm</td>
	  <td class='tab'>{{tagwert.cloud}} /8</td>
	  <td class='tab'>{{tagwert.sun}} min</td>
	  <td class='tab'>{{tagwert.windf}} m/s</td>
	  <td class='tab'>{{tagwert.windd}} °</td>
	  </tr>
	</tbody>  	    
</table>
