<h1>Temperatur {{listMonateDTController.rows.title}}</h1>

<div style="position:relative;width:100%;">
<canvas width="160" height="108"></canvas>

<svg width='100%' viewBox="0 0 1600 1048" version="1.1" xmlns="http://www.w3.org/2000/svg">
<g>


<polyline ng-repeat="x in listMonateDTController.rows.gridXPath" 
   ng-attr-points="{{x}}"
  style="fill:none;stroke:black;stroke-width:1" />

<polyline ng-repeat="y in listMonateDTController.rows.gridYPath" 
   ng-attr-points="{{y}}"
  style="fill:none;stroke:black;stroke-width:{{listMonateDTController.rows.gridYStroke[$index]}}" />

<rect ng-repeat="t in listMonateDTController.rows.link"
   ng-attr-x={{listMonateDTController.rows.x[$index]}} ng-attr-y={{listMonateDTController.rows.tickXy-20}}
   ng-attr-width={{listMonateDTController.rows.tickXwidth}} ng-attr-height={{listMonateDTController.rows.tickXheight}}
   fill='#ccc' ng-click="goMonatDT(t)" >
</rect>

<text  ng-repeat="tag in listMonateDTController.rows.tickXTag"
   ng-attr-x={{listMonateDTController.rows.tickXx[$index]}} ng-attr-y={{listMonateDTController.rows.tickXy}} 
   fill='black' font-size="12pt" >
  {{tag}}
</text>

<text  ng-repeat="tag in listMonateDTController.rows.tickYTag"
   ng-attr-x={{listMonateDTController.rows.tickYx}} ng-attr-y={{listMonateDTController.rows.tickYy[$index]}} 
   fill='black' font-size="12pt" text-anchor="end">
  {{tag}}°C
</text>


<polyline ng-attr-points="{{listMonateDTController.rows.temp_o}}"
  style="fill:none;stroke:green;stroke-width:3" />
<polyline ng-attr-points="{{listMonateDTController.rows.temp_o_min}}"
  style="fill:none;stroke:blue;stroke-width:3" />
<polyline ng-attr-points="{{listMonateDTController.rows.temp_o_max}}"
  style="fill:none;stroke:red;stroke-width:3" />

<polyline ng-attr-points="{{listMonateDTController.rows.temp_o_absmin}}"
  style="fill:none;stroke:violet;stroke-width:3" />
<polyline ng-attr-points="{{listMonateDTController.rows.temp_o_absmax}}"
  style="fill:none;stroke:brown;stroke-width:3" />


<polyline ng-attr-points="{{listMonateDTController.rows.temp_i}}"
  style="fill:none;stroke:orange;stroke-width:3" />

        
    <text x='90' y='1040' font-size='12pt' fill='green'>T_o_avg</text>        
    <text x='290' y='1040' font-size='12pt' fill='violet'>T_o_absmin</text>
    <text x='490' y='1040' font-size='12pt' fill='blue'>T_o_min</text> 
    <text x='690' y='1040' font-size='12pt' fill='red'>T_o_max</text>
    <text x='890' y='1040' font-size='12pt' fill='brown'>T_o_absmax</text> 
        
    <text x='1190' y='1040' font-size='12pt' fill='orange'>T_i</text>
    
   </g>
    
</svg>

</div>