<!--  (c) Gerhard Döppert, 2017 -->

<h1>Temperatur {{listTageDTController.rows.title}} </h1>
<br/>



<div style="position:relative;width:100%;">
<canvas width="160" height="108"></canvas>

<svg width='100%' viewBox="0 0 1600 1048" version="1.1" xmlns="http://www.w3.org/2000/svg">
<g>


<polyline ng-repeat="x in listTageDTController.rows.gridXPath" 
   ng-attr-points="{{x}}" 
  style="fill:none;stroke:black;stroke-width:1" />

<polyline ng-repeat="y in listTageDTController.rows.gridYPath" 
   ng-attr-points="{{y}}"
  style="fill:none;stroke:black;stroke-width:{{listTageDTController.rows.gridYStroke[$index]}}" />

<rect ng-repeat="t in listTageDTController.rows.link"
   ng-attr-x={{listTageDTController.rows.x[$index]}} ng-attr-y={{listTageDTController.rows.tickXy-20}}
   ng-attr-width={{listTageDTController.rows.tickXwidth}} ng-attr-height={{listTageDTController.rows.tickXheight}}
   fill='#ccc'  ng-click="goDP(t, listTageDTController.value, 'Tag')" >
</rect>

<text  ng-repeat="tag in listTageDTController.rows.tickXTag"
   ng-attr-x={{listTageDTController.rows.tickXx[$index]}} ng-attr-y={{listTageDTController.rows.tickXy}} 
   fill='black' font-size="12pt" >
  {{tag}}
</text>

<text  ng-repeat="tag in listTageDTController.rows.tickYTag"
   ng-attr-x={{listTageDTController.rows.tickYx}} ng-attr-y={{listTageDTController.rows.tickYy[$index]}} 
   fill='black' font-size="12pt" text-anchor="end">
  {{tag}}°C
</text>


<polyline ng-attr-points="{{listTageDTController.rows.temp_o}}"
  style="fill:none;stroke:green;stroke-width:3" />
<polyline ng-attr-points="{{listTageDTController.rows.temp_o_min}}"
  style="fill:none;stroke:blue;stroke-width:3" />
<polyline ng-attr-points="{{listTageDTController.rows.temp_o_max}}"
  style="fill:none;stroke:red;stroke-width:3" />

<polyline ng-attr-points="{{listTageDTController.rows.temp_i}}"
  style="fill:none;stroke:orange;stroke-width:3" />

    
    <text x='90' y='1040' font-size='12pt' fill='green'>T_o</text>          
    <text x='190' y='1040' font-size='12pt' fill='green'>T_o_avg</text>      
    <text x='390' y='1040' font-size='12pt' fill='blue'>T_o_min</text> 
    <text x='590' y='1040' font-size='12pt' fill='red'>T_o_max</text>
        
    <text x='890' y='1040' font-size='12pt' fill='orange'>T_i</text>
    
   </g>
    
</svg>
</div>
<br/>
<button ng-show="listTageDTController.time=='Tag'" 
ng-click="goDP(listTageDTController.monat, listTageDTController.value, 'Monat')">Monat</button>

<button  
ng-click="goDP(listTageDTController.vorher, listTageDTController.value, listTageDTController.time)">-</button>

<button  
ng-click="goDP(listTageDTController.nachher, listTageDTController.value, listTageDTController.time)">+</button>
