<!--  (c) Gerhard Döppert, 2017 -->

<h2>Wetter im Monat {{$ctrl.monat}} {{$ctrl.parent.myScope.station}}</h2>
<table id='mytab' border='1' ts-wrapper>
	<thead>
	  <tr class='wettertab'>
	    <th></th>
	    	  <th  ng-repeat="colgrname in $ctrl.data.colgrname" colspan='{{$ctrl.data.colgrlen[$index]}}'>{{colgrname}}</th>
	    <th colspan='1'>weiter</th>
	  </tr>
	  <tr class='wettertab'>
	    <th ts-criteria="tag|parseInt"> Tag</th>
	     <th ts-criteria="{{col}}|parseFloat"  ng-repeat="col in $ctrl.data.values" >{{$ctrl.data.werte[col]}}</th>	    
	    <th>alles</th>
	  </tr>
	</thead>
	<tbody >	
	<tr class='wettertab' ng-repeat="tagwert in $ctrl.data.list" ts-repeat>
	  <td >{{tagwert.tag}}</td>
	 <td class='tab' ng-repeat="col in $ctrl.data.values"   >{{tagwert[col]}}</td>	  
	   <td ><button ng-click="$ctrl.parent.myScope.goList(tagwert.time_d,'Tag')"
	         class='button-small'>Liste</button></td>
	  </tr>
	</tbody>  	    
</table>

<button   class='dirbutton'
ng-click="$ctrl.parent.myScope.goList($ctrl.vorher,  $ctrl.time)">&lt;</button>

<button   class='dirbutton'
ng-click="$ctrl.parent.myScope.goList($ctrl.nachher,  $ctrl.time)">&gt;</button>

<button ng-click="$ctrl.parent.myScope.downloadMonat()">CSV herunterladen</button>


