<!--  (c) Gerhard Döppert, 2017 -->

<h2>Wetter im Jahresverlauf {{$ctrl.jahr}} {{$ctrl.parent.myScope.station}}</h2>
<table border='1' ts-wrapper>
	<thead>
	  <tr class='wettertab'>
	  <th/>
	  <th  ng-repeat="colgrname in $ctrl.data.colgrname" colspan='{{$ctrl.data.colgrlen[$index]}}'>{{colgrname}}</th>
	  <th>weiter</th>
	  </tr>
	  
	  
	  <tr class='wettertab'>
	    <th ts-criteria="monat|parseInt"> Monat</th>
	    <th ts-criteria="{{col}}|parseFloat"  ng-repeat="col in $ctrl.data.values" >{{$ctrl.data.werte[col]}}</th>
	    <th>alles</th>
	  </tr>
	</thead>
	<tbody >	
	<tr  class='wettertab' ng-repeat="monat in $ctrl.data.list" ts-repeat>
	  <td >{{monat.monat}}</td>
	  <td class='tab' ng-repeat="col in $ctrl.data.values"   >{{monat[col]}}</td>
	  
	  <td class='tab'><button ng-click="$ctrl.parent.myScope.goList(monat.monat,'Monat')"
	         class='button-small'>Liste</button></td>
	  
	  </tr>
	</tbody>  	    
</table>

<button ng-click="$ctrl.parent.myScope.downloadMonate()">CSV herunterladen</button>

