<!--  (c) Gerhard Döppert, 2017 -->

<h2>Wetter im Monat {{$ctrl.monat}} {{$ctrl.parent.myScope.station}}</h2>
<table border='1' ts-wrapper>
	<thead>
	  <tr>
	    <th></th>
	    <th colspan='4'>Temperatur</th>
	    <th colspan='5'></th>
	    <th colspan='3'>Wind</th>
	    <th colspan='1'>weiter</th>
	  </tr>
	  <tr>
	    <th ts-criteria="tag|parseInt"> Tag</th>
	    <th ts-criteria="temp_i|parseFloat">innen</th>
	    <th ts-criteria="temp_o|parseFloat">außen mittel</th>
	    <th ts-criteria="temp_o_min|parseFloat">außen min</th>
	    <th ts-criteria="temp_o_max|parseFloat">außen max</th>
	    <th ts-criteria="pres|parseFloat">Luftdruck</th>
	    <th ts-criteria="hum_o|parseFloat">Feuchte</th>
	    <th ts-criteria="precip|parseFloat">Niederschlag</th>
	    <th ts-criteria="cloud|parseFloat">Wolken</th>
	    <th ts-criteria="sun|parseFloat">Sonne</th>
	    <th ts-criteria="windf|parseFloat">mittel</th>
	    <th ts-criteria="windf_max|parseFloat">max</th>
	    <th ts-criteria="windd|parseFloat">Richtung</th>	    
	    <th>alles</th>
	  </tr>
	</thead>
	<tbody >	
	<tr ng-repeat="tagwert in $ctrl.data.list" ts-repeat>
	  <td class='tab'>{{tagwert.tag}}</td>
	  <td class='tab'>{{tagwert.temp_i}}°C</td>
	  <td class='tab'>{{tagwert.temp_o}}°C</td>
	  <td class='tab'>{{tagwert.temp_o_min}}°C</td>
	  <td class='tab'>{{tagwert.temp_o_max}}°C</td>
	  <td class='tab'>{{tagwert.pres}} hPa</td>
	  <td class='tab'>{{tagwert.hum_o}}%</td>
	  <td class='tab'>{{tagwert.precip}} mm</td>
	  <td class='tab'>{{tagwert.cloud}} /8</td>
	  <td class='tab'>{{tagwert.sun}} h</td>
	  <td class='tab'>{{tagwert.windf}} m/s</td>
	  <td class='tab'>{{tagwert.windf_max}} m/s</td>
	  <td class='tab'>{{tagwert.windd}} °</td>
	  
	   <td class='tab'><button ng-click="$ctrl.parent.myScope.goList(tagwert.time_d,'Tag')"
	         class='button-small'>Liste</button></td>
	  </tr>
	</tbody>  	    
</table>

<button   class='dirbutton'
ng-click="$ctrl.parent.myScope.goList($ctrl.vorher,  $ctrl.time)">&lt;</button>

<button   class='dirbutton'
ng-click="$ctrl.parent.myScope.goList($ctrl.nachher,  $ctrl.time)">&gt;</button>

