<!--  (c) Gerhard Döppert, 2017 -->

<h1>Wetter Rückblick</h1>

    <br/>
    <table>
		<tr>
	  <td>Station: </td>
	  <td><select ng-model='$ctrl.myScope.data.stats.stat' ng-change="$ctrl.statChanged()">
		<option ng-repeat='stat in $ctrl.myScope.data.stats.stats' value='{{stat.id}}'>{{stat.name}}</option>
		</select>
		</td>
		   <td> Jahr: </td><td><select ng-model='$ctrl.myScope.data.jahr' ng-change="$ctrl.jahrChanged()">
		   <option ng-repeat='y in $ctrl.myScope.jahre'>{{y}}</option></select>		   
		   </td>
	  </tr>
	</table>
	<br/>    
	
	<b>Die Rohdaten zu den Wetterstationen stammen vom Deutschen Wetterdienst (<a href='https://www.dwd.de'>www.dwd.de</a>).</b> Die Aufbereitung
	erfolgt mit eigenen Algorithmen.
	<br>
    <br/>
    <h2>Auswertung von</h2>
  <table border='1px'>
    <thead>
    <tr>
      <th></th>
      <th>alles</th>
      <th ng-repeat='val in $ctrl.myScope.vals'>{{$ctrl.values[val].name}}</th>
      </tr>
     </thead>
	<tbody>
     
	<tr>
	  <td>Einstieg Jahr</td>
	  <td><button id='yl' ng-click="$ctrl.myScope.goList($ctrl.myScope.data.jahr, 'Monate')">Liste</button></td>
	  
	  <td ng-repeat='val in $ctrl.myScope.vals'>
	     <button id='y{{$ctrl.values[val].id}}' 
	         ng-click="$ctrl.myScope.goDP($ctrl.myScope.data.jahr, val, 'Monate')">
	            <img src='diagr_{{$ctrl.values[val].im}}.png'/>
	     </button>
	  </td>
	</tr>
	<tr>
	  <td>Umschalten nach</td>
	  <td><button id='sl' ng-click="$ctrl.myScope.goList($ctrl.myScope.data.time, $ctrl.myScope.data.per)">Liste</td>
	  <td ng-repeat='val in $ctrl.myScope.vals'>
	     <button id='s{{$ctrl.values[val].id}}' 
	         ng-click="$ctrl.myScope.goDP($ctrl.myScope.data.time, val, $ctrl.myScope.data.per)">
	            <img src='diagr_{{$ctrl.values[val].im}}.png'/>
	     </button>
	  </td>
	</tr>
	<tr >
	  <td><button id='tl' ng-click="$ctrl.myScope.goAuswahl(0)">Heute/Gestern</button></td>
	  <td><button id='tl' ng-click="$ctrl.myScope.goList(0, 'Tag')">Liste</button></td>
  	  <td ng-repeat='val in $ctrl.myScope.vals'>
	     <button id='t{{$ctrl.values[val].id}}' 
	         ng-click="$ctrl.myScope.goDP(0, val, 'Tag')">
	            <img src='diagr_{{$ctrl.values[val].im}}.png'/>
	     </button>
	  </td>
	</tr>
	</tbody>  	    
</table>
<br/>
<br/>
<button ng-show='$ctrl.myScope.data.stats.admin' ng-click="$ctrl.myScope.update()" class='adminbutton'>update</button>
<button ng-show='$ctrl.myScope.data.stats.admin' ng-click="$ctrl.myScope.importHist()" class='adminbutton'>import history</button>
<div ng-show='!$ctrl.myScope.data.stats.admin' class='adminbutton'>Eingeschränkter Modus: Gast</div>

 

<br/>
   <ui-view>   </ui-view>
   
<br/>
<br/>
<br/>

<a href="/impressum.html">Impressum</a>
