<!--  (c) Gerhard Döppert, 2017 -->

<h2>{{$ctrl.wert}} {{$ctrl.data.title}} {{$ctrl.parent.myScope.station}}</h2>
<br/>

<div style="position:relative;width:100%;">
<canvas width="160" height="95"></canvas>
<svg width='100%' viewBox="0 -10 1600 934" version="1.1" xmlns="http://www.w3.org/2000/svg">
<g>
	
	
	<polyline ng-repeat="x in $ctrl.data.gridXPath" 
	   ng-attr-points="{{x}}"
	  style="fill:none;stroke:black;stroke-width:1" />
	
	<polyline ng-repeat="y in $ctrl.data.gridYPath" 
	   ng-attr-points="{{y}}"
	  style="fill:none;stroke:black;stroke-width:{{$ctrl.data.gridYStroke[$index]}}" />
	
	<rect class='button' ng-repeat="t in $ctrl.data.link"
	   ng-attr-x={{$ctrl.data.x[$index]}} ng-attr-y={{$ctrl.data.tickXy-20}}
	   ng-attr-width={{$ctrl.data.tickXwidth}} ng-attr-height={{$ctrl.data.tickXheight*2}}
	   ng-click="$ctrl.parent.myScope.goDP(t,$ctrl.value, 'Tag')" >
	</rect>
	
	<text  ng-repeat="tag in $ctrl.data.tickXTag"
	   ng-attr-x={{$ctrl.data.tickXx[$index]}} ng-attr-y={{$ctrl.data.tickXy}} 
	   fill='black' font-size="12pt" >
	  {{tag}}
	</text>
	
	<text  ng-repeat="tag in $ctrl.data.tickYTag"
	   ng-attr-x={{$ctrl.data.tickYx}} ng-attr-y={{$ctrl.data.tickYy[$index]+6}} 
	   fill='black' font-size="12pt" text-anchor="end">
	  {{tag}}
	</text>
	
	 <g ng-repeat="value in $ctrl.data.values">
	
	<rect ng-repeat="p in $ctrl.data[value]"
		ng-attr-x={{p.x}} ng-attr-y={{p.y}}
		ng-attr-width={{$ctrl.data.xwidth}} ng-attr-height={{$ctrl.data.tickXy-p.y-20}}
		ng-attr-fill='{{$ctrl.data.cols[value]}}' >
	</rect>
	</g>
		        
   </g>
    
</svg>
</div>
<br/>
<button  id="trm" ng-show="$ctrl.time=='Tag'" 
ng-click="$ctrl.parent.myScope.goDP($ctrl.monat, $ctrl.value, 'Monat')">Monat</button>

<button  id="trl"   class='dirbutton'
ng-click="$ctrl.parent.myScope.goDP($ctrl.vorher, $ctrl.value, $ctrl.time)">&lt;</button>

<button  id="trp"  class='dirbutton'
ng-click="$ctrl.parent.myScope.goDP($ctrl.nachher, $ctrl.value, $ctrl.time)">&gt;</button>
