<!--  (c) Gerhard Döppert, 2017 -->

<h2>Wetter {{$ctrl.title}} {{$ctrl.parent.myScope.station}}</h2>
<br/>

<table border='1' ts-wrapper>
	<thead>
	  <tr class='wettertab'>
	    <th></th>
	   <th  ng-repeat="colgrname in $ctrl.data.colgrname" colspan='{{$ctrl.data.colgrlen[$index]}}'>{{colgrname}}</th>
	  </tr>
	  <tr class='wettertab'>
 	    <th ts-criteria="monat|parseTime"> Zeit</th>
	    <th ts-criteria="{{col}}|parseFloat"  ng-repeat="col in $ctrl.data.values" >{{$ctrl.data.werte[col]}}</th>
	    
	  </tr>
	</thead>
	<tbody >	
	<tr  class='wettertab' ng-repeat="tagwert in $ctrl.data.list" ts-repeat>
	  <td >{{tagwert.time_t}}</td>
	 <td class='tab' ng-repeat="col in $ctrl.data.values"   >{{tagwert[col]}}</td>
	  </tr>
	</tbody>  	    
</table>

<button 
ng-click="$ctrl.parent.myScope.goList($ctrl.monat, 'Monat')">Monat</button>

<button   class='dirbutton'
ng-click="$ctrl.parent.myScope.goList($ctrl.vorher, $ctrl.time)">&lt;</button>

<button   class='dirbutton'
ng-click="$ctrl.parent.myScope.goList($ctrl.nachher, $ctrl.time)">&gt;</button>

<button ng-click="$ctrl.parent.myScope.downloadTag()">CSV herunterladen</button>

